<% if @filtered_data.empty? %>
<p>Nothing to see here, folks. </p>
<% else %>
<% @filtered_data.each do |a| %>
<div class="article">
	<h3><%= a[0] %></h3>
<div><img src="<%= a[4] %>" alt="" width="" height="" border="0" />	<a class="handle" href="http://twitter.com/<%= a[1] %>">@<%= a[1] %></a><p><%= a[5] %></p></div>
	<p class="rt"><%= a[3] %> Retweets</p>
</div>
<% end %>
<% end %>