<% if @filtered_data.empty? %>
<p>Nothing to see here, folks. </p>
<% else %>
<% @filtered_data.each do |a| %>
<div class  = "tweet">
	<div class = "photo"><img src="<%= a["image_url"] %>" alt="" width="48" height="48" border="0" /></div>
	<div class = "contents">	
		<p><a class="handle" href="http://twitter.com/<%= a[1] %>"><%= a["username"] %> </a><span class ="name"><%= a["name"] %></p>
		<p><%= a["text"] %></p>
	</div>	
	<div class="clearfix">
		<p class  = "rt clearfix" style="zoom: 1; filter: alpha(opacity=<%= rt_highlight(a["rt_num"]) %>); opacity: <%= rt_highlight(a["rt_num"]) %>;"><%= rt_count(a["rt_num"]) %></p>
	</div>
</div>
<% end %>
<% end %>
