	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>
			Chris Sutton - Best Of The Best Of...
		</title>
<meta name="keywords" content="Chris Sutton, blog, Tumblr, commonplace book, technology, culture, design, politics " />
	<meta name="description" content="Personal weblog of Chris Sutton. A collection of lines I enjoyed reading or writing, among other things." />

		<meta name="author" content="Chris Sutton" /><!-- Date: 2010-09-13 -->
		<link rel="stylesheet" type="text/css" href="http://chrissutton.me/assets/sutton.css" />
		<script src="http://chrissutton.me/assets/scripts/jquery-1.4.2.min.js" type="text/javascript">
</script>
		<script src="http://chrissutton.me/assets/scripts/jquery.masonry.min.js" type="text/javascript">
</script>
		<script type="text/javascript" src="http://use.typekit.com/ckc1jjd.js">
</script>
		<script type="text/javascript">
//<![CDATA[
		try{Typekit.load();}catch(e){}
		//]]>
		</script>
		<script type="text/javascript">

		$(window).load(function () {
				$('#content').masonry({
					columnWidth: 338, 
					itemSelector: '.article' 
			});		});
		
		</script>
		
	<meta http-equiv="x-dns-prefetch-control" content="off"/></head>
	<body>
		<div id="header">
			<h1 class="blog">
				<a href="http://chrissutton.me/">Chris Sutton</a> <span class="sub">presents</span> @<%= @filtered_data.first[1] %>
			</h1>
			<h3> The freshest links from <%= @filtered_data.first[2] %>, all in one place.</h3>
		</div>
		<div id="navigation">
			<ul class="button">
				<li>
					<a href="http://chrissutton.me/about/">About</a>
				</li>
				<li>
					<a href="http://chrissutton.me/work/">Work</a>
				</li>
				<li>
					<a href="http://chrissutton.me/play/">Play</a>
				</li>
				<li>
					<a href="http://blog.chrissutton.me">Blog</a>
				</li>
			</ul>
			<ul class="contact">
				<li>
					<a href="mailto:chris@chrissutton.me">Email</a>
				</li>
				<li>
					<a href="http://www.linkedin.com/in/suttonchristopher">LinkedIn</a>
				</li>
				<li>
					<a href="http://www.facebook.com/chris.sutton">Facebook</a>
				</li>
				<li>
					<a href="http://www.twitter.com/sutterbomb">Twitter</a>
				</li>
			</ul>
		</div>
		<div id="content">
<% @filtered_data.each do |a| %>
<div class="col300 article">
	<a href="<%= a[4] %>"><%= a[0] %></a>
<p class="timestamp"><%= a[3] %> Retweets</p>
</div>
<% end %>
</div>
<div id="footer">
				
				<p>
					Copyright © 2011 <a href="http://chrissutton.me">Chris Sutton</a>
				</p>
			</div>

